@import "tailwindcss";

@theme {
  --color-cinza: #acacac;
  --color-amarelo-escuro: #c9a227;
  --color-cinza-escuro: #eeeeee;
  --font-family-opensans: "Open Sans", sans-serif;
}

body {
  font-family: var(--font-family-sans);
  box-sizing: border-box;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Edge */
}
.hide-scrollbar {
    -ms-overflow-style: none; /* IE e Edge */
    scrollbar-width: none; /* Firefox */
}
